@font-face{
    font-family:Georgia;
    src:"fonts/Georgia.ttf";
}

@font-face{
    font-family:Pirata One;
    src:"fonts/PirataOne-Regular.ttf";
}

.img-left{
    border-radius: 50%;
    float: right;
    margin: 15px;
}

h1 {
    text-align: center;
    font-family: Pirata One;
}

p { 
    text-align: justify;
    text-indent: 20px;
    margin: 15px;
    font-family: Georgia;
}

.dialogue{
    text-indent: 35px;
}

.img-fin{
   display: block;
   margin: auto; 
}