@font-face{
    font-family:Georgia;
    src:"fonts/Georgia.ttf";
}

@font-face{
    font-family:Pirata One;
    src:"fonts/PirataOne-Regular.ttf";
}
/*début coverpage*/

.coverpage{
    display: block;
   margin: auto;     
}

/*fin coverpage*/

/*début copyrights*/
.li {
  display: inline-block;
  margin-left: 1.2em;
  }


ol.sub {
  list-style-type: lower-alpha;  
  }

.sub li::marker {
    content: counter(list-item, lower-alpha) ")";
  }

.sub-list{
  display: block;
  margin: 10px 10px 0;
  text-align: justify; 
}

.copyrights-text{
    text-indent: 0;
}

/*fin copyrights*/


.img-left{
    border-radius: 50%;
    float: right;
    margin: 15px;
}

h1 {
    text-align: center;
    font-family: Pirata One;
}

p { 
    text-align: justify;
    text-indent: 20px;
    margin: 15px;
    font-family: Georgia;
}

.dialogue{
    text-indent: 35px;
}

.img-fin{
   display: block;
   margin: auto; 
}