@font-face{
    font-family:Georgia;
    src:"fonts/Georgia.ttf";
}

@font-face{
    font-family:Pirata One;
    src: url("fonts/PirataOne-Regular.ttf") format("truetype");
}

/* début page titre*/
#page-titre{
    height: 100%;
}
.auteur {
    font-size: 20px;
    text-align: center;
}

.titre {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;

}

/* fin page titre*/
/*début coverpage*/

.coverpage{
   display: block;
   margin: auto;     
}

/*fin coverpage*/

/*début copyrights*/
.li {
  display: inline-block;
  margin-left: 1.2em;
  }


ol.sub {
  list-style-type: lower-alpha;  
  }

.sub li::marker {
  content: counter(list-item, lower-alpha) ")";
  }

.sub-list{
  display: block;
  margin: 10px 10px 0;
  text-align: justify; 
}

.copyrights-text{
    text-indent: 0;
}

/*fin copyrights*/


.img-left{
    border-radius: 50%;
    float: right;
    margin: 15px;
}

h1 {
    text-align: center;
    font-family: "Pirata One";
}

p { 
    text-align: justify;
    text-indent: 20px;
    margin: 15px;
    font-family: Georgia;
}

.dialogue{
   text-indent: 35px;
}

.img-fin{
   display: block;
   margin: auto; 
}
